<ul class="submenu">
    {% for entry in entry_list %}
    <li class="list-entry">
        {% if entry.is_parent %}
            <span class="expand reveal">+</span>
            <span class="expand mask">-</span>
            <a class="flat-link" href="{{entry.get_absolute_url}}">{{entry.name}}</a>
            {% include "tags/menu_list.html" with entry_list=entry.subcategories%}
        {% else %}
        <a class="flat-link" href="{{entry.get_absolute_url}}">{{entry.name}}</a>
        {% endif %}
    </li>    
{% endfor %}
</ul>
