{% load catalog_tags %}
<div class="card-fluid flex-item">
        <div id="site-menu" class="menu-vt" role="dialog">
                <div class="modal-header">
                        <button type="button" class="close">&times;</button>
                        <h4 class="modal-title">Categories</h4>
                </div>
                <div class="modal-body">
                        <ul class="">
                            {% category_list request.path %}
                            <li><a href="{% url 'contact:index'%}">Contact</a></li>

                        </ul>
                </div>
    
        </div><!-- End of #Site Menu-->
            
    <div class="hidden-md hidden-lg  nav-mobile-div flex-container">
            
        
        <ul class="icon-bar flex-container">
            <li id="openMenu" class="flex-item">
                    <a href="javascript:void(0)">
                            <span class="glyphicon glyphicon-menu-hamburger">
            
                            </span>
                    </a>
            </li>
            <li class="flex-item">
                <a href="{% url 'catalog:index' %}">
                    <span class="glyphicon glyphicon-home"></span>
                </a>
            </li>
            <li class="flex-item">
                <a href="{% url 'wishlist:show_wishlist' %}">
                           <span class="glyphicon glyphicon-heart"></span>
                </a>
            </li>
            <li class="flex-item">
                {% include "tags/cart_box.html" %}
            </li>
            {% if user.is_authenticated %}
            <li class="flex-item"><a href="{% url 'accounts:user_account'%}"><span class="glyphicon glyphicon-user"></span> </a></li>
            <li class="flex-item"><a href="{% url 'accounts:logout' %}"><span class="glyphicon glyphicon-log-out"></span></a></li>

            {% else %}
            <li class="flex-item"><a href="{% url 'accounts:register' %}"><span class="glyphicon glyphicon-user"></span> <span class="hidden-xs">S'enregistrer</span></a></li>
            <li id="loginBtn" class="flex-item"><span id="login" class="glyphicon glyphicon-log-in"></span> <span class="hidden-xs">Se connecter</span></li>
            {% endif %}
        </ul>

        
    </div>

    <div class="visible-md visible-lg">
        <div class="navbar-header">
            <a class="navbar-brand" href="{% url 'catalog:index'%}">GV</a>
        </div>
        <ul class="nav navbar-nav">
            {% category_list request.path %}
            <li><a href="{% url 'contact:index'%}">Contact</a></li>

        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li>
                {% include "tags/cart_box.html" %}
            </li>
            <li>
                <a href="{% url 'wishlist:show_wishlist' %}">
                                           <span class="glyphicon glyphicon-heart"></span>
                                        </a>
            </li>
            {% if user.is_authenticated %}
            <li><a href="{% url 'accounts:logout' %}"> <span  class="glyphicon glyphicon-log-out"></span></a></li>
            <li><a href="{% url 'accounts:user_account'%}"><span class="glyphicon glyphicon-user"></span></a></li>
            {% else %}
            <li><a href="{% url 'accounts:register' %}"><span class="glyphicon glyphicon-user"></span> <span>S'enregistrer</span></a></li>
            <li><a href="{% url 'accounts:login' %}"><span id="login" class="glyphicon glyphicon-log-in"></span> <span>Se connecter</span></a></li>
            {% endif %}
        </ul>
    </div>
</div>