{% extends "base_flat.html" %}


{%block content_header%}

    <div class="flex-container">
            <h5 class="flex-item">Mon Panier</h5>
            <a class="flex-item" href="{% url 'catalog:index'%}">
                    <button type="button" class="btn btn-default">
                        <span class="glyphicon glyphicon-share-alt"> Shopping </span>
                    </button>
            </a>
    </div>

{%endblock content_header%}



{% block MAINCONTENT %}

<div class="flat-card flex-column">
        <div class="flat-column flex-center">
                <div class="flat-card flat-column">
                        <div class="flat-column flat-left">
                                <div class=""> Appercu de votre Panier </div>
                                <div class="">
                                        <strong>
                                                <span class="cart-counter">{{cart_item_count}}</span>
                                        </strong> article(s)</div>
                                <div class="flat-hidden-xs flat-flex">
                                        <p class="flat-cart-description text-center">
                                                Ici se trouve les articles que vous souhaitez acheter.
                                                <br> Veuillez savoir que les articles présent dans le Panier ne sont pas reservés.
                                        </p>
                        
                                </div>
                        </div>
                        
                </div>   
        </div> 
    {% if cart_items %}
    
    <div id="flat-cart-products" class="flat-main-content flat-column">
            {% for item  in cart_items %}
                <div id="{{item.product.id}}" class="flat-cart-card flat-row  bordered">
                        
                        <div class="flat-col-xs-12">
                                <div class="flat-row">
                                        <section class="flat-col-xs-3 bordered">
                                                        <img class="img-responsive" src="{{item.image_url}}">
                                                
                                        </section>
                                        <section class="flat-col-xs-9">
                                                <div class="flat-row">
                                                        <section class="flat-col-xs-4"> <span> {{item.name}}</span> </section>
                                                        <section class="flat-col-xs-8">
                                                                <div class="flat-row remove-wrap">
                                                                        <section class="flat-col-xs-3">
                                                                                <div class="flat-column small" data-itemid="{{item.product.id}}" data-quantity="{{item.quantity}}" data-price="{{item.price}}">
                                                                                        <span class="plusButton glyphicon glyphicon-chevron-up"></span>
                                                                                        <span class="item-qty">{{item.quantity}}</span>
                                                                                        <span class="minusButton glyphicon glyphicon-chevron-down"></span>
                                                                                </div>
                                                                        </section>
                                                                        <section class="flat-col-xs-9">
                                                                                <div class="flat-column">
                                                                                        <span class="main-value"><span class="cart-item-price">{{item.price}}</span> FCFA</span>
                                                                                        <span class="subdetail small flat-hidden cart-item-total-price">Total : <span>{{item.total}}</span> FCFA</span>
                                                                                </div>
                                                                        </section>
                                                                </div>
                                                        </section>
                                                </div>
                                                <div class="flat-row small">
                                                        <section class="flat-col-xs-6"> <span class=""> Ajouter à la liste de souhait</span> </section>
                                                        <section class="flat-col-xs-1"><span> | </span> </section>
                                                        <section class="flat-col-xs-5"> <span class=""> Supprimer </span></section>
                                                </div>
                                        </section>
                                </div>
                        </div>
                        
                        
        
                </div>

            {% endfor %}
            <div class="flat-footer flat-right bg-frenchgrey">
                        {% comment "" %}
                <div class="flat-row remove-wrap">
                        <span class="flat-col-pull-xs-8"></span>
                        <span class="flat-col-xs-4">Montant Total :
                                <strong>
                                        <span class="cart-subtotal"> {{cart_subtotal}}</span> FCFA 
                                </strong>
                        </span>
                </div>
                <div class="flat-row remove-wrap">
                        <span class="flat-col-pull-xs-8"></span>
                        <span class="flat-col-xs-4">Frais d'envoie :   <strong> 0.00 FCFA </strong></span>
                </div>
                <div class="flat-row remove-wrap">
                        <span class="flat-col-pull-xs-8"></span>
                        <span class="flat-col-xs-4">Reduction :   <strong> 0.00 FCFA</strong></span>
                </div>
                <div class="flat-row remove-wrap">
                        <span class="flat-col-pull-xs-8"></span>
                        <span class="flat-col-xs-4"><strong> Somme Total : <span class="cart-subtotal"> {{cart_subtotal}}</span> FCFA </strong></span>
                </div>
                {% endcomment %}       
                        
                        
                    <div class="mat-entry"><span class="pull-right">Montant Total : <strong> <span class="cart-subtotal"> {{cart_subtotal}}</span> FCFA </strong> </span></div>
                    <div class="mat-entry"><span class="pull-right"> Frais d'envoie :    <strong> 0.00 FCFA </strong></span></div>
                    <div class="mat-entry"><span class="pull-right"> Reduction :   <strong> 0.00 FCFA</strong></span></div>
                    <div class="mat-entry"><span class="pull-right"> <strong> Somme Total : <span class="cart-subtotal"> {{cart_subtotal}}</span> FCFA </strong></span></div>
                    
            </div>
            <div>
                <a class="no-decoration flat-btn cart-checkout-btn" href="/order/{{checkout_url}}">
                Aller à la caisse
                </a>
            </div>
    </div>

    {%else%}
    <div class="flat-card flat-column">
            <section class="flex-column flex-center text-center bordered">
                <h4 class="card-title"> Panier Vide</h4>
                <h6 class="card-subtitle">Veuillez ajouter des article dans le panier</h6>
            </section>
            <!-- End Of Main Section -->
            <section class="flat-main-content text-center bordered">
                <p>
                    Votre Panier ne contient aucun article.</br>
                    Parcourrez la liste d'articles en vente sur le site</br>
                    et ajouter les produits que vous desirez acheter dans le Panier. </br>
                </p>
            </section>
            <!-- End Of Main Section -->
        <!-- End Of Card -->
    </div>

    {% endif %}


    
</div>
<!-- End Of Container -->

{% endblock MAINCONTENT %}

{% block CartModal %}
{% endblock CartModal %}