{% extends "base.html" %}


{%block content_header%}

    <div class="flex-container">
            <h5 class="flex-item">Mon Panier</h5>
            <a class="flex-item" href="{% url 'catalog:index'%}">
                    <button type="button" class="btn btn-default">
                        <span class="glyphicon glyphicon-share-alt"> Shopping </span>
                    </button>
            </a>
    </div>

{%endblock content_header%}



{% block PageContent %}

<div class="fluid-container">

    {% if cart_items %}
    <div class="order-list list-flex list-vertical">
            <div class="card-mat vertical">
                    <div class="mat-entry"> Appercu de votre Panier </div>
                    <div class="mat-entry"> <span class="cart-counter">{{cart_item_count}}</span> article(s)</div>
                    
            </div>
            <div id="products" class="flat-card flex-column">
            {% for item  in cart_items %}
                <div class="card-mat horizontal bordered" id="{{item.product.id}}">
                        <div class="mat-entry mat-entry-img bordered"> 
                                <img class="img-responsive" src="{{item.image_url}}">
                        </div>
                        <div class="card-mat vertical">
                                <div class="mat-entry">{{item.name}}</div>
                                <!--<div class="mat-entry">Quantité : {{item.quantity}}</div> -->
                                <div class="mat-entry cart-item-qty" data-itemid="{{item.product.id}}" data-quantity="{{item.quantity}}" data-price="{{item.price}}">
                                    <span> Quantité : </span> 
                                    <span class="minusButton glyphicon glyphicon-minus"> </span>
                                    <span class="cartItem-qty"> {{item.quantity}} </span>
                                    <span class="plusButton glyphicon glyphicon-plus"> </span>   
                                </div>
                                <div class="mat-entry clearfix"> <span class="order-ref">Prix unitaire : {{item.price}} FCFA  </span></div>
                                <div class="mat-entry cart-item-total-price"> <span class="order-sum pull-right"><strong> Total : {{item.total}} FCFA</strong></span ></div>
                        </div>
                        
                </div>
            {% endfor %}
            </div>
            
            <div class="list-divider"></div>
            <div class="card-mat vertical bg-newspaper">
                    <div class="mat-entry"><span class="pull-right">Montant Total : <strong> <span class="cart-subtotal"> {{cart_subtotal}} FCFA</span>  </strong> </span></div>
                    <div class="mat-entry"><span class="pull-right"> Frais d'envoie :    <strong> 0.00 FCFA </strong></span></div>
                    <div class="mat-entry"><span class="pull-right"> Reduction :   <strong> 0.00 FCFA</strong></span></div>
                    <div class="mat-entry"><span class="pull-right"> <strong> Somme Total : <span class="cart-subtotal"> {{cart_subtotal}} FCFA </span>  </strong></span></div>
            </div>
            <div class="list-divider"></div>
            <div><a class="no-decoration btn btn-default cart-checkout-btn" href="/order/{{checkout_url}}">
                Aller à la caisse
            </a></div>
    </div>  

{% comment "" %}
    <table class="table table-condensed table-striped cart-content-table">
            <thead>
                <tr>
                    <th> </th>
                    <th>Nom du produit</th>
                    <th>Quantité</th>
                    <th>Prix Unitaire</th>
                    <th> Prix total</th>
                    <th> Action </th>
                </tr>
            </thead>
            <tfoot>
                    <tr>
                        <th colspan="4" scope="row" class="order-total"> Montant Total:</th>
                        <td headers="price" > <span class="cart-subtotal"> {{cart_subtotal}} FCFA </span></td>
                    </tr>
                    <tr>
                        <th colspan="4" scope="row"> Frais d'envoi :</th>
                        <td headers="price"> 0.00 FCFA</td>
                    </tr>
                    <tr>
                        <th colspan="4" scope="row"> Reduction :</th>
                        <td headers="price"> -0.00 FCFA</td>
                    </tr>
                    <tr>
                        <th colspan="4" scope="row"> <strong> Somme Total :</strong></th>
                        <td headers="price"> <strong><span class="cart-subtotal"> {{cart_subtotal}} FCFA  </span></strong></td>
                    </tr>
                    <tr> 
                            <th colspan="4" scope="row"></th>
                            <td> 
                                <a class="no-decoration btn btn-default" href="/order/{{checkout_url}}">
                                    Aller à la caisse
                                </a>
                            </td>
                    </tr>
            </tfoot>
            <tbody>
                {% for item  in cart_items %}
                <tr>
                    <td class="cart-item-image"> <img class="img-responsive" src="{{item.image.url}}" alt=""> </td>
                    <td class="cart-item-name">{{item.product.name}}</td>
                    <td class="cart-item-qty" data-itemid="{{item.product.id}}" data-quantity="{{item.quantity}}" data-price="{{item.price}}">
                        <span class="minusButton glyphicon glyphicon-minus"> </span>
                        <span class="cartItem-qty"> {{item.quantity}} </span>
                        <span class="plusButton glyphicon glyphicon-plus"> </span>   
                    </td>
                    <td class="cart-item-price">{{item.price}} FCFA</td>
                    <td class="cart-item-total-price">{{item.total_price}} FCFA</td>
                    <td class="entry card-item-remove fflex-item" data-itemid="{{item.product.id}}" data-quantity="{{item.quantity}}">
                            <span class="removeFromCartButton remove_item glyphicon glyphicon-trash" title="Supprimer cet element">
                                
                            </span>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
            
    </table>
                       
{% endcomment %}
    {%else%}
    <div class="card-mat">
            <section class="card-main text-center">
                <h4 class="card-title"> Panier Vide</h4>
                <h6 class="card-subtitle">Veuillez ajouter des article dans le panier</h6>
            </section>
            <!-- End Of Main Section -->
            <section class="card-content-text text-center">
                <p>
                    Votre Panier ne contient aucun article.</br>
                    Parcourrez la liste d'articles en vente sur le site</br>
                    et ajouter les produits que vous desirez acheter dans le Panier. </br>
                </p>
            </section>
            <!-- End Of Main Section -->
            <section class="card-actions text-center">
                <h4 class="card-next">Acceuille du site</h4>
            </section>
            <!-- End Of Main Section -->
        <!-- End Of Card -->
    </div>

    {% endif %}
</div>
<!-- End Of Container -->

{% endblock PageContent %}

{% block CartModal %}
{% endblock CartModal %}