<div class="col-xs-10 card">
    <div class="itemImage">
       <a href="{{item.get_absolute_url}}">
            <img class="img-thumbnail  img-responsive center-block" 
                src="{{item.image_url}}" alt="{{item.name}}">
        </a>
    </div> <!-- End of itemImage -->
    <section class="card-main">
        <p class="refNumber">
            Reference : {{item.sku}}
        </p>
        <p class="itemName">{{item.name}} </p>
        <p class="itemQuantity"> Quantité : {{item.quantity}}</p>
        <p class="itemPrice"> Prix Unitaire : {{item.get_price}} FCFA</p>
        <p class="itemTotalPrice"> Prix Total : {{item.total}} FCFA</p>
    </section> <!-- End of orderItemDetail -->
</div><!-- End of orderItem -->