<div class="container-fluid">

        <section class="card-main">
            <fieldset>
                <legend>Méthode de Paiement : </legend>
                <select name="payement_type">
                    <option value="SMS"> SMS</option>
                        {% if form_context.country|lower == "gabon" %}
                    <option value="AirtelMoney" selected> AirtelMoney</option>
                        {% else %}
                    <option value="OrangeMoney" selected>OrangeMoney</option>
                    <option value="MTNMoney">MTNMoney</option>
                        {% endif %}
                    <option value="Bank"> Depôt Bancaire </option>
                </select>
            </fieldset>

        </section>
        <!-- End Of Main Section -->

        <section class="card-actions text-center">
            <h4>
                <span class="card-prev btn btn-default"> Précedent </span> - 
                <span class="card-next btn btn-default"> Suivant </span>
            </h4>
            
        </section>
        <!-- End Of Main Section -->
</div>