
    <fieldset>
        <legend>Choisissez votre méthode de Paiement : </legend>
    </fieldset>
    <select name="payement_type">
        <option value="SMS"> SMS</option>
        {% if form_context.country|lower == "gabon" %}
            <option value="AirtelMoney" selected> AirtelMoney</option>
        {% else %}
            <option value="OrangeMoney" selected>OrangeMoney</option>
            <option value="MTNMoney">MTNMoney</option>
        {% endif %}
            <option value="Bank"> Depôt Bancaire </option>
    </select>
    <br><br>
