<div class="container">

    <fieldset class="checkout">
    <legend>Shipping Info</legend>
    Nom :
    <input type="text" name="shipping_name" value="{{form_context.name}}"><br>
    Email :
    <input type="text" name="shipping_email" value="{{form_context.email}}" ><br>
    Telephone :
    <input type="text" name="shipping_telefon" value="{{form_context.phone}}"><br>
    Adresse:
    <input type="text" name="shipping_address" value="{{form_context.address}}"><br>
    Ville :
    <input type="text" name="shipping_city" value="{{form_context.city}}"><br>
    Boite Postale :
    <input type="text" name="shipping_zip" value="{{form_context.zip}}"><br>
    Pays :
    <input type="text" name="shipping_country" value="{{form_context.country}}"><br>
    </fieldset>
    <br><br>
</div>
