
    <fieldset class="checkout">
    <legend>Données de l'utilisateur : </legend>
    Nom :
    <input class="form-control" type="text" name="shipping_name" value="{{form_context.name}}"><br>
    Email :
    <input class="form-control" type="text" name="email" value="{{form_context.email}}" ><br>
    Telephone :
    <input class="form-control" type="text" name="phone" value="{{form_context.phone}}"><br>
    Adresse:
    <input  class="form-control" type="text" name="shipping_address_1" value="{{form_context.address}}"><br>
    Ville :
    <input  class="form-control" type="text" name="shipping_city" value="{{form_context.city}}"><br>
    Boite Postale :
    <input class="form-control" type="text" name="shipping_zip" value="{{form_context.zip}}"><br>
    Pays :
    <input class="form-control" type="text" name="shipping_country" value="{{form_context.country}}"><br>
    </fieldset>
    <br><br>
