{% extends "base.html" %}

{% block site_wrapper %}
  {% csrf_token %}
 {% if form.errors %}
  <p class="error"> Désolé, le nom ou le mot de passe est incorrect.</p>
  {% endif %}
  <form action="{% url 'login' %}" method="post">{% csrf_token %}

    <label for="username"> Utilsateur:</label>
    <input type="text" name="username" value="" id="username"><br />
    <label for="password"> Mot de passe:</label>
    <input type="password" name="password" value="" id="password"><br /><br />

    <input type="submit" value="Se connecter" /><br />
    <input type="hidden" name="next" value="{{ next|escape }}" />
  </form>

{% endblock %}
