{% extends "accountbase.html" %}



{% block MAINCONTENT %}

<div class="flat-col-xs-12 flat-col-md-10">

        {% if item_count == 0 %}
  
        <div class="flat-container bordered">
              <section class="text-center bordered">
                  <h4 class="title"> Wishlist vide</h4>
                  <h6 class="subtitle"> Veuillez ajouter des article dans votre liste </h6>
              </section>
              <!-- End Of Main Section -->
              
          <!-- End Of Card -->
        </div>
        {% else %}
        {% if wishlistitems %}
        <div id="wishlist" class="card">
                <div class="header">
                        <div class="entry"> Appercu de vos articles sauvegardés </div>
                        <div class="entry"> <span class="js-wishlist-counter"> {{item_count}} </span> article(s)</div>
                        
                </div>
                <div class="content">
                    {% for item  in wishlistitems %}
                        <div class="flat-col-xs-12 flat-col-md-6" id="{{item.id}}">
                            <div class="box">
                                <div class="flat-col-xs-3">
                                        <div class="image-container bordered"> 
                                                <a href="{{item.get_absolute_url}}"><img class="img-responsive" src="{{item.image_url}}"></a>
                                        </div>
                                </div>
                                <div class="flat-col-xs-9">
                                        <div class="details">
                                                <div class="entry">{{item.name}}</div>
                                                <div class="entry"> <span class="pruduct-price">Prix : {{item.price}} FCFA  </span></div>
                                                <div class="entry" data-itemid="{{item.id}}" data-name="{{item.name}}" data-image="{{item.image_url}}">
                                                    <span class="small js-move-to-cart  flat-btn flat-cart-add-btn" data-itemid="{{item.product.id}}"> <strong>Ajouter au Panier </strong> </span>
                                                    <span class="flat-link small js-remove-from-wishlist"> Supprimer </span>
                                                </div>
                                                
                                        </div>
                                </div>
                                    
                            </div> <!-- End of container -->
                                
                                
                        </div>
                {% endfor %}
                </div>
                
                <div class="footer">
                    <div class="wishlist-clear flat-btn flat-hidden"> Vider </div>
                </div>
                
        </div>
        {% endif %}
{% endif %}
</div>

{% endblock MAINCONTENT %}
