{% extends "base.html"%}
{%comment "not neaded now" %}
{%block content_header%}
    <div class="header-entry bg-ebony vt-ht-centered">
         <p> Mon Compte : Bienvenue {{request.user.first_name}}!</p>  
    </div><!-- End of main-header -->
{%endblock content_header%}

{%endcomment%}

{% block Sidebar %}
<div class="flex-container">
    <div class="flex-item">
        <a class="list-group-item active" href="{% url 'accounts:user_account' %}">Mes Données</a>
        <a class="list-group-item " href="{% url 'accounts:orders' %}">Mes Commandes</a>
        <a class="list-group-item" href="#">Mode de Paiement Préferé</a>
        <a class="list-group-item" href="{% url 'wishlist:show_wishlist' %}" >Ma liste de souhaits</a>
        {%comment%}<a class="list-group-item" href="#">Abonnements à la newsletter</a>{%endcomment%}
        {%comment%}<a class="list-group-item" href="#">Ma Carte VIP</a>{%endcomment%}
    </div>
</div>

{% endblock Sidebar %}

{% block PageContent %}
{% endblock PageContent %}
