{% extends "catalog.html" %}
{% load checkout_tags %}
{% block content %}
<h1>Checkout</h1>{% if error_message %}
<ul class="errorlist">
<li>{{ error_message }}</li>
</ul>
{% endif %}
<form action="." method="post" class="form-inline">{% csrf_token %}
    <div class="container container-fluid">
        <div class="row">
            <div class="col-sm-4">
                {% include "tags/shipping_info.html" %}
            </div>
            <div class="col-sm-4">
                {% include "tags/payement_choices.html" %}
            </div>
            <div class="col-sm-4">
                {% include "tags/confirmation.html" %}
            </div>
        </div>
    </div>



<table>
<tr>
<th colspan="2"><input type="submit" value="Place Order" class="submit" /></th>
</tr>
</table>

</form>
{% endblock %}
