{% extends "catalog.html" %}
{% load checkout_tags %}
{% block content %}
<h1>Checkout</h1>{% if error_message %}
<ul class="errorlist">
<li>{{ error_message }}</li>
</ul>
{% endif %}
<div class="container-fluid text-purple">
    <ul class="nav nav-tabs">
        <li class="active" ><a data-toggle="tab" href="#shipping-info">Vos informations générales :</a></li>
        <li ><a data-toggle="tab" href="#payoptions">Options de payement :</a></li>
        <li ><a data-toggle="tab" href="#cartcontent">Contenu du panier :</a></li>
    </ul>
    <form action="." method="post" class="form-inline">{% csrf_token %}
        <div class="tab-content">
            <div id="shipping-info" class="tab-pane fade in active">
                {% include "tags/shipping_info.html" %}
            </div>

            <div id="payoptions" class="tab-pane fade">
                {% include "tags/payement_choices.html" %}
            </div>

            <div id="cartcontent" class="tab-pane fade">
                {% include "tags/confirmation.html" %}
            </div>
            <span colspan="2"><input type="submit" value="Valider votre commande" class="submit rebeccapurple" /></span>
        </div>
        </form>

</div>

{% endblock %}
