{% extends "base_flat.html" %} {% load checkout_tags %} 
{% block content_header %}
    <h1>Checkout</h1>
{% endblock content_header %} 
{% block BANNER %}

{% endblock BANNER %}
{% block CURRENT_CATEGORY_PATH %}

{% endblock CURRENT_CATEGORY_PATH %}

{% block ASIDE %}
{% endblock ASIDE %}

{% block MAINCONTENT %} 
{% if error_message %}
    <div class="errorlist">
        {{ form.errors}}
    </div>
{% endif %}
<div id="flat-checkout" class="flat-column">

    <div class="flat-checkout-container flat-checkout-wizard">
        <form id="flat-order-form" action="." method="post">{% csrf_token %}
                {% include "tags/hidden-form-field.html" %}
            <div class="flat-tabs">
                <section class="flat-checkout-header">
                    <h3>Envoi de Commande</h3>
                    <h5> Ces informations nous aiderons à traiter votre commande</h5>
                </section>
                <section class="flat-tabBar">
                    <span class="flat-tab-checkout active flat-col-xs-4" data-toggle="#userdata" data-index="0">Données Utilisateur</span>
                    <span class="flat-tab-checkout flat-col-xs-4" data-toggle="#paiement" data-index="1">Méthode de Paiement</span>
                    <span class="flat-tab-checkout flat-col-xs-4" data-toggle="#cartcontent" data-index="2">Contenue de la Commande</span>
                </section>
                <div class="flat-checkout-body">
                    <section id="userdata" class="flat-tabcontent-checkout">
                        <div class="flat-row">
                            <div class="flat-col-sm-12">
                                <h4 class="info-text">Vérifier que vos informations sont correctes</h4>
                    
                            </div>
                            <div class="flat-col-sm-12 flat-col-md-6">
                                <div class="input-group">
                                    <div class="form-group label-floating">
                                        <label class="control-label">Email</label>
                                        <input class="" type="email" name="email" value="{{user.email}}">
                                    </div>
                                </div>
                                <div class="input-group">
                    
                                    <div class="form-group label-floating">
                                        <label class="control-label">Nom</label>
                                        <input class="" type="text" name="shipping_name" value="{{user.last_name}}" readonly>
                                    </div>
                                </div>
                                <div class="input-group">
                    
                                    <div class="form-group label-floating">
                                        <label class="control-label">Prénom</label>
                                        <input class="" type="text" name="firstname" value="{{user.first_name}}" readonly>
                                    </div>
                                    <div class="form-group label-floating">
                                        <label class="control-label">Telephone</label>
                                        <input class="" type="text" name="phone" value="{{user.userprofile.telefon}}">
                                    </div>
                                </div>
                    
                            </div>
                            <div class="flat-col-sm-12 flat-col-md-6">
                                <div class="input-group">
                    
                                    <div class="form-group label-floating">
                                        <label class="control-label">Pays de la livraison</label>
                                        <select name="shipping_country" id="">
                                            <option value="Gabon" selected>Gabon</option>
                                            <!-- <option value="Cameroun">Cameroun</option> -->
                                        </select>
                    
                                    </div>
                                </div>
                                <div class="input-group">
                    
                                    <div class="form-group label-floating">
                    
                                        <label class="control-label">Ville de la livraison</label>
                                        <select name="shipping_city" id="">
                                            <option value="Libreville" selected>Libreville</option>
                                            <option value="Port-gentil">Port-gentil</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                    <section id="paiement" class="flat-tabcontent-checkout">
                        <div class="flat-row">
                            <div class="flat-col-sm-10 flat-flex">
                                <div class="flat-row">
                                        <div class="flat-col-sm-5">
                                            <div class="choice flat-column"  rel="tooltip" title="Cette option est bien pour vous si vous voulez payer après avoir vu l'article">
                                                <input type="radio" name="payement_type" value="ESPECE">
                                                <div class="icon">
                                                    <i class="glyphicon glyphicon-check"></i>
                                                </div>
                                                <span class="paiement-option">Payer au moment du retrait</span>
                                        
                                            </div>
                                        </div>
                                        <span class="flat-col-sm-2"></span>
                                        <div class="flat-col-sm-5">
                                            <div class="choice flat-column" data-toggle="wizard-radio" rel="tooltip" title="En choisissant cette option, votre commande sera traitée avec une plus grande priorité">
                                                <input type="radio" name="payement_type" value="AIRTELMONEY">
                                                <div class="icon">
                                                    <i class="glyphicon glyphicon-phone"></i>
                                                </div>
                                                <span class="paiement-option">AirtelMoney</span>
                                        
                                            </div>
                                        </div>
                                        
                                </div>
                            </div>
                        </div>
                    </section>
                    <section id="cartcontent" class="flat-tabcontent-checkout">
                        <div class="flat-row">
                            <span class="flat-col-xs-12"><h4 class="info-text">Contenu de votre Commande</h4></span>
                            <div class="flat-col-sm-12">
                                <div class="flat-row cart-item-list">
                                    {% for item in cartitems %}
                                        {% include "tags/cartitem_entry.html" %}
                                    {% endfor %}
                                </div>
                            </div>
                            <div class="cart-footer bg-newspaper">
                                    <div class="cart-footer-entry">Montant Total : <strong> <span class="cart-subtotal">{{user_cart.subtotal}}</span> FCFA </strong></div>
                                    <div class="cart-footer-entry">Frais d'envoie :    <strong> 0.00 FCFA </strong></div>
                                    <div class="cart-footer-entry">Reduction :   <strong> 0.00 FCFA</strong></div>
                                    <div class="cart-footer-entry"><strong> Somme Total : <span class="cart-subtotal"> {{user_cart.subtotal}}</span> FCFA </strong></div>
                                    
                            </div>
                        </div>
                    </section>
                </div>
                
                <section class="flat-tabs-footer flat-row">
                    <span id="js-checkout-prev-btn" class="flat-btn">Précédent</span>
                    
                    <span id="js-checkout-next-btn" class="flat-btn">Suivant</span>
                    <button id="js-checkout-submit-btn" class="flat-btn checkout-submit-btn" type="submit">Envoyer</button>
                </section>
            </div>
        </form>
    </div>
    
</div>
{% endblock MAINCONTENT %}