{% extends "base_flat.html"%}

{%block content_header%}
    <div class="header-entry">
         <p> Information de votre Commande </p>
    </div><!-- End of main-header -->
    
{%endblock content_header%}

{% block BANNER %}

{% endblock BANNER %}
{% block CURRENT_CATEGORY_PATH %}

{% endblock CURRENT_CATEGORY_PATH %}

{% block ASIDE %}
{% endblock ASIDE %}
{% block MAINCONTENT %}
<div class="flat-col-xs-12 flat-col-md-6">
        <div class="order-list list-flex list-vertical">
                <div class="card-mat vertical">
                        <div class="mat-entry"> {{order.get_status}} </div>
                        <div class="mat-entry">Date : {{order.get_date}}</div>
                        <div class="mat-entry">
                                <span class="order-ref">Ref : {{order.ref_num}} </span>
                        </div>
                </div>
                {% for item in orderitems %}
                <div class="card-mat horizontal">
                        <div class="mat-entry mat-entry-img bordered">
                                <img class="img-responsive" src="{{item.image_url}}">
                        </div>
                        <div class="card-mat vertical">
                                <div class="mat-entry">{{item.name}}</div>
                                <div class="mat-entry">Quantité : {{item.quantity}}</div>
                                <div class="mat-entry clearfix">
                                        <span class="order-ref">Prix unitaire : {{item.get_price}} FCFA </span>
                                </div>
                                <div class="mat-entry">
                                        <span class="order-sum pull-right">
                                                <strong> Total : {{item.total}} FCFA</strong>
                                        </span>
                                </div>
                        </div>

                </div>
                <div class="list-divider"></div>
                {% endfor %}

                <div class="order-footer bg-newspaper">
                                <div class="order-footer-entry">Montant Total : <strong> <span class="cart-subtotal"> {{order.total}}</span> FCFA </strong></div>
                                <div class="order-footer-entry">Frais d'envoie :    <strong> 0.00 FCFA </strong></div>
                                <div class="order-footer-entry">Reduction :   <strong> 0.00 FCFA</strong></div>
                                <div class="order-footer-entry"><strong> Somme Total : <span class="cart-subtotal"> {{order.total}}</span> FCFA </strong></div>
                                
                </div>
        </div>
</div>
 



{% endblock MAINCONTENT %}