{% extends "flat_minimal_base.html" %}

{% block MAINCONTENT %}
    <div class="flat-row">
        <div class="flat-card flex-column">
            Vous trouverez ici les infos concernant la livraison des articles
            vendus sur notre site.
            
            
            <ul class="list-entry main-content flex-column">
                <li>
                    La livraison de produits se fait sur rendez-vous.
                    Nous vous contacterons afin de definir la date, le lieu et l'heure
                    pour le retrait de votre commande <strong>après</strong> reception de votre payement.
                </li>
                <li> Il est possible de deleguer le retrait à une autre personne. Mais vous devez nous en informer
                     à temps.
                </li>
                <li> Les livraisons ne peuvent avoir lieu qu'entre <strong>10h00 - 17h00</strong> </li>
                <li> Nous n'attendrons pas plus de 20min au lieu de rendez-vous fixé pour le retrait.
                     Si vous avez plus de 20min de retard, vous serez consideré comme absent. Alors 
                     vous devrez prendre à nouveau rendez-vous avec nous.
                </li>
                <li>
                    Si vous  ne vous presenter à la date convenue, alors vous devrez payer une 
                    penalité de <strong>2000 FCFA(Deux mille Franc cfa)</strong> liée au frais de déplacement de notre
                    personnel.  Vous ne pourez pas entrer en pocession de votre commande sans avoir 
                    payé ses frais de penalité.
                </li>
                <li>
                    Les livraisons ne se font <strong>actuellement</strong> que sur Port-gentil et Libreville.
                </li>
            </ul> 

        </div>

    </div>
{% endblock MAINCONTENT %}