
    <div class="rounded-10 card bg-iron text-left">
        <div class="card-horizontal-block">
            <section class="card-main">
                <h3 class="card-title card-title-large"> Numéro de Commande : {{order.ref_num}}</h3>
                <h4 class="card-subtitle"><b> Date :</b> {{order.date.date}}</h4>
                <h4>Montant : </b>{{order.total}} FCFA</h4>
                <h4>Status de paiement :
                                {% if order.paid_status is True %}
                                    Payé
                                {% else %} 
                                    Non Payé
                                {% endif %}
                </h4>
                <h4><b>Status de Livraison : </b>{{order.get_status}}</h4>
            </section>
        </div>
        <section class="card-actions">
            <a class="text-orange" href="{% url 'accounts:order_details' order.id %}">
                   <button class="btn btn-sm card-action bg-rebeccapurple"> Details </button>
            </a>
        </section>
    </div>
