/* -----------------------------------------------
***  LAYOUTS COMPONENTS IN HEADER, FOOTER*********
-------------------------------------------------*/

/* -----------------------------------------------
***  LAYOUTS COMPONENTS IN MAIN CONTENT **********
-------------------------------------------------*/

/* -----------------------------------------------
***  TYPOGRAPHY IN HEADER, FOOTER ****************
-------------------------------------------------*/

/* -----------------------------------------------
***  TYPOGRAPHY IN MAIN CONTENT** ****************
-------------------------------------------------*/

.card {

    margin: 24px;
    min-width: 320px;
    max-width: 640px;
    /*display: flex;*/
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
    justify-content: flex-end;
    box-sizing: border-box;
    border-radius: 2px;
    overflow: hidden;
}
.card-fluid {

    margin: 2px;
    min-width: 320px;
    max-width: 100%;
    /*display: flex;*/
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
    justify-content: flex-end;
    box-sizing: border-box;
    border-radius: 2px;
    z-index: 10;
    overflow: hidden;
}
.card-main, .card-content-text{
    width: 100%;
    margin: auto;
}
.card-horizontal-block{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 0;
}
.card-content-text{
    font-size: 16px;
}
.card-actions{
    margin: 5px;
}

.card, .card-fluid{
    font-family: "Montserrat", sans-serif;
    box-shadow: 2px 1px 1px #888888;
}
.card-container{

    width: 100%;
    float: left;
    margin: auto;
}
.card-product{
    border-radius: 2px;
    font-family: "Montserrat", sans-serif;
    box-shadow: 2px 3px 3px #888888, -1px 0 2px #888888;
    text-align: center;
}
.card-flat{
    /*width: 400px;*/
    border-radius: 2px;
    font-family: "Montserrat", sans-serif;
    box-shadow: 1px 1px 1px #888888, -1px 0 1px #888888;
    text-align: center;
    z-index: 10;
    margin: auto;
}

.card-flat-container{
    /*width: 400px;*/
    /*width: 90%;*/
    border-radius: 2px;
    /*border: 1px solid #F2F1FE;*/
    font-family: "Montserrat", sans-serif;
    box-shadow: 1px 1px 1px #2F2D2C, -1px 0 1px #2F2D2C;
    /*box-shadow: 2px 5px 5px #2F2D2C, -2px 5px 5px #2F2D2C;*/
    text-align: center;
    margin: auto;
}

.card-flat:hover{
    box-shadow: 3px 5px 5px #888888, -2px 0 5px #888888;
}
.card-flat-body{
    width: 100%;
    padding: 10px;
}

.card-flat-header{
    width: 100%;
    padding: 10px;
    color: #888888;
    padding: 10px;
}
.card-flat-header:hover{
    background-color: #F9F8F4;
}
.card-flat-footer{
    width: 100%;
    padding: 10px;
    color: #888888;
}

.card-flat-product{
    /*display: block;*/
    border-radius: 2px;
    font-family: "Montserrat", sans-serif;
    box-shadow: 1px 1px 1px #DED8D3, -1px 0 1px #DED8D3;
    text-align: center;
    margin: auto;
}

.card-product-details{
    text-align: left;
}
.card-flat-category{
    width: 250px;
    display: inline-block;
    text-align: center;
    justify-content: center;
    background-color: transparent;
}
.card-flat-category ul , .card-flat-category ul a{

    text-decoration: none;
    color: #F9F8F4;
    background-color: transparent;
}
.card-flat-category ul a:hover{
    text-decoration: none;
}
.site-brand{
    width: 100px;
    height: 50px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    color: #888888;
}


nav a:hover, nav a:link{
    
    text-decoration: none;
}

.body-panel{
    width: 100%;
    height: 300px;
    max-height: 500px;

}
.padding-top{
    position: absolute;
    right: 5%;
    left: 5%;
    top: 300px;
}

.header-entry{

    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.content-header{
    
    border: 1px solid #DADFE1;
    width: 100%;
    height: 50px;
}

.content{
    display: flex;
    align-items: center;
    justify-content: center;
}

.add-to-cart{
    display: inline-flex;
    width: 64px;
    justify-content: center;
}
.side-menu{
    display: block;
    width: 100px;
}
.detail-content{
    margin: auto;
    width: 100%;
    height: 400px;
    padding: 10px;
}
.card-image{
    display: block;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}
.image-container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    width: 100%;
    height: 400px;
    padding: 10px;
}

.image-container img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.content-center{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    width: 100%;
    padding: 10px;
}
.content-left{
    display: flex;
    align-items: left;
    justify-content: left;
    /*margin: auto;*/
    width: 100%;
    padding: 1px;
}
.order-entry{
    display:flex;
    align-content: left;
    width: 50%;
    height: 100px;
    
    

}
.item-entry{
    height: 100px;
    width: 70%;
    margin: auto;
    padding: 1px;
}
.item-entry img{
    display: block;
    margin :auto;
    width: 84px;
    height: 98px;
    max-height: 100%;
    max-width: 100%;
}
.item-image{
    width: 84px;
    height: 98px;
    display: flex;
    width: 84px;
    height: 98px;
    margin :auto;

}
.item-detail{
    width: 70%;
    display: flex;

}
.item-detail ul{
    list-style-type:none;
}

.item-detail  div > p{
    font-size: 10px;
}

.fill {
  object-fit: fill;
}

.contain {
  object-fit: contain;
}

.cover {
  object-fit: cover;
}

.none {
  object-fit: none;
}

.scale-down {
  object-fit: scale-down;
}

.flat-image-container{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-start;
  /*height: 940px;*/
}

.padding-extra{
    padding: 10px;
}