.softred{
    background-color: #EC644B;
}

.chestnutrose{
    background-color: #D24D57;
}
.sunflower{
    color: #ecf0f1;
    background-color: #f1c40f;
}
.pomegranate{
    background-color:#F22613;
}

.thunderbird{
    color:#F2F1FE;
    background-color: #D91E18;
}
.razzmatazz{
    color:#F2F1FE;
    background-color: #DB0A5B;
}
.waxflower{
    background-color: #F1A9A0;
}
.radicalred{
    background-color: #F62459;
}
.snuff{
    color: #F2F1FE;
    background-color:#DCC6E0;
}
.rebeccapurple{
    color:#F2F1FE;
    background-color:#663399;
}
.plum{
    color:#F2F1FE;
    background-color: #913D88;
}
.honeyflower{
    color:#F2F1FE;
    background-color:#674172
}
.sanmarino{
    color:#F2F1FE;
    background-color:#446CB3
}
.aliceblue{
    color:#F2F1FE;
    background-color:#E4F1FE
}
.madison{
    color:#F2F1FE;
    background-color:#2C3E50
}
.ming{
    color:#F2F1FE;
    background-color:#336E7B
}
.ebonyclay{
    color:#F2F1FE;
    background-color:#22313F
}
.jellybean{
    color:#F2F1FE;
    background-color: #2574A9;
}
.pickledbluewood{
    color:#F2F1FE;
    background-color:#34495E
}
.cararra{
    background-color:#F2F1FE;
}
.mediumturquoise{
    background-color: #4ECDC4;
}
.whitesmoke{
    background-color: #ECECEC;
}
.iron{
    background-color: #DADFE1;
}
.silver{
    background-color: #BFBFBF;
}
.sandstorm{
    background-color: #F9BF3B;
}
.niagara1{
    color:#34495e;
    background-color: #2ABB9B;
}
.niagara{
    color:#ECECEC;
    background-color: #16A085;
}
.turquoise{
    color:#34495e;
    background-color: #36D7B7;
}
.oceangreen{
    color: #ecf0f1;
    background-color: #4DAF7C;
}
.peterriver{
    color: #ecf0f1;
    background-color: #3498db;
}
.amethys{
    color: #ecf0f1;
    background-color: #9b59b6;
}
.midnightblue{
    color: #ecf0f1;
    background-color: #2c3e50;
}
.wetasphalt{
    color: #ecf0f1;
    background-color: #34495e;
}
.orange{
    color: #ecf0f1;
    background-color: #FF5722;
}

.amber{
    color:#34495e;
    background-color: #FFC107;
}
.lightwisteria{
    background-color: #BE90D4;
}
.lightningyellow{
    background-color: #F5AB33;
}
.galery{
    background-color: #EEEEEE;
}
.crusta{
    background-color: #F2784B;
}

.emerald{
    background-color: #3FC380;
}


