*{
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
    list-style: none;
    list-style-type: none;
    font-family: "Montserrat", sans-serif;
}

body, html{
    min-width: 100%;
    min-height: 100%;
    padding: 0;
    margin: 0;
}
#banner{
    display: none;
}

input, button, tr{
    padding: 14px 16px;
    border: 1px solid grey;
    
}

a{
    text-decoration: none;
    color: #2C2C2C;
}

