.category-container a.active{
  background-color: #bdc3c7;
}
.category-container{
  width: 100%;
  height: auto;
  margin: auto;
}
.product_container{

}


.product_box{
    max-width: 500px;
    height: auto;
    margin-bottom:  10px;
}

.product_box img{


}
.product_image{
  width: auto;
  max-height: 300px;
  min-height: 200px;
  max-width: 300px;
  margin-bottom:  10px;
}

.bordered-container{
  width: 100%;
  height: auto;
  border-width: 1px;
  border-radius: 8px;
  border-style: solid;
  border-color: lightgrey;
}
