/*
.item_added_message{
    font-family:Arial,Helvetica,sans-serif;
    position:fixed;
    top:0px;
    left:0px;
    width:100%;
    z-index:105;
    text-align:center;
    font-weight:bold;
    font-size:100%;
    color:white;
    padding:10px 0px 10px 0px;
    background-color:#8E1609;
}

.item_added_message span {
    text-align: center;
    width: 95%;
    float:left;
}

.close-notify {
    white-space: nowrap;
    float:right;
    margin-right:10px;
    color:#fff;
    text-decoration:none;
    border:2px #fff solid;
    padding-left:3px;
    padding-right:3px
}

.close-notify a {
    color: #fff;
}
*/
/*
.category-container a.active{
  background-color: #bdc3c7;
}
.category-container{
  width: 100%;
  height: auto;
  margin: auto;
}



.product_box{
    max-width: 500px;
    height: auto;
    margin-bottom:  10px;
}


.item{
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    margin: auto;
}
.product_image{
  width: auto;
  max-height: 300px;
  min-height: 200px;
  max-width: 300px;
  margin-bottom:  10px;
}

.bordered-container{
  width: 100%;
  height: auto;
  border-width: 1px;
  border-radius: 8px;
  border-style: solid;
  border-color: lightgrey;
}
*/
.push
 {
    height: 8px;
 }

footer
 {
    height: 100px;
 }

footer {
      background-color: #f2f2f2;
      
      width: 100%;
      padding: 15px;
      bottom: 0;
    }

.orderEntry{

    height: auto;
    width: 50%;
    /*display: block;*/
    color: white;
    background: #61C9FD;
    padding: 10px;
    margin: 20px;
    font-family: 'Ubuntu', sans-serif;

}
.orderItem{

    

    box-shadow: 5px 5px 5px #888888;
    /*display: block;*/
    border-radius: 1em;
    background: #F7F7F7;
    padding: 10px;
    margin: 20px;
    font-family: 'Ubuntu', sans-serif;

}

.orderItem .itemImage
{
    height: 128px;
    width: 128px;
}

.orderItemDetail
{
    height: auto;
    width: 330px; 
    margin: 10px; 
}

.flex {
    display: flex;
}

.refNumber
{
    font-size: 11px;
}