{% extends "base.html" %}
{% load category_tags %}
{% block Sidebar %}

<div class="sidebar-container card-flat">
    {% include "tags/category_box.html" %}
</div>
{% endblock Sidebar %}

{%block PageContent %}
{% if products %}
  <div class="container-fluid">
    <div class="row list-group">
        {% for p in products  %}
          {% include "tags/product_box_min.html" %}
        {% endfor %}
    </div>
  </div>

    <ul class="pager">
        {% if products.has_previous %}
          <li><a href="?page={{ products.previous_page_number }}">precedent</a></li>
        {% endif %}
        <span class="current">
          Page {{products.number }} de {{products.paginator.num_pages }}.
        </span>
        {% if products.has_next %}
          <li><a href="?page={{ products.next_page_number }}">next</a></li>
        {% endif %}
      </span>
    </ul>
  {% else %}
    <p>Il n'y a pas encore de produits disponible
    dans cette catégorie </p>
{% endif %}
{% endblock PageContent %}
