{% extends "base_flat.html" %}
{% load category_tags %}
{% load catalog_tags %}

{% block BANNER %}
                 
{% endblock BANNER %}

{% block CATEGORY_PATH %}
    <div class="flat-row">
        <ol class="breadcrumb">
                {% for cat in parent_cats  %}
                    {% if forloop.last %}
                    <li> {{cat.name}}</a></li>
                    {% else %}
                     <li> <a href="{{cat.get_absolute_url}}"> {{cat.name}}</a></li>
                    {% endif %}
                    
                {% endfor %}
        </ol>
    </div>
{% endblock CATEGORY_PATH %} 



{% block ASIDE %}
    <aside id="page-side" class="flat-col-md-2 flat-hidden-xs">
            {% block ASIDE_CONTENT %} 
            <div class="flat-col-xs-12">
                    <section class="">
                        <span> Catégorie </span>
                    </section>
                    <section class="card flex-column">
                        <div class="navigation">
                                {% root_categorie as root_cats%} 
                                {% include "tags/menu_list.html" with entry_list=root_cats.root_cats %}
                        </div>
                    </section>
            </div>
            {% endblock ASIDE_CONTENT %}
    </aside>
{% endblock ASIDE %}


{%block MAINCONTENT %}
<div class="flat-col-xs-12 flat-col-md-10">
    <div class="flat-row ">
        <div class="flat-col-xs-12">
                <div id="page-filter" class="filter flat-container bottom-bordered">

                        <section class="flat-btn flat-clickable">
                            <span> FILTRE </span> <span class="glyphicon glyphicon-plus"></span>
                        </section>
                        <section class="flat-container flat-main-content ">
                              
                          <div class="flat-container">
                                  <section class="">
                                          <span> OPTIONS </span>
                                  </section>
                                  
                                          <div class="card bottom-bordered">
                                                  <section class="header">
                                                          <span > MARQUES </span>
                                                  </section>
                                                  <section class="content flat-container">
                                                          <input id="brands-filter-input" type="text" name="brands-query" placeholder="Saissez une marque ...">
                                                          <div id="flat-brands" class="flat-inputs">
                                                              {% for brand in brands %}
                                                              <span class="input-box" data-brand="{{brand}}">
                                                                  <label class="input-container"> {{brand}} 
                                                                        <input type="checkbox" name="mark-choices" value="{{brand}}">
                                                                        <span class="checkmark"></span>
                                                                  </label>
                                                                  
                                                                </span>
                                                              {% endfor %}
                                                          </div>
                                                  </section>
                                                  <section class="footer">
                                                          <span id="flat-filter-apply" class="flat-btn"> Appliquer</span>
                                                  </section>
                                                  
                                          </div>
                                          <div class="flat-sorting card bottom-bordered">
                                              <section class="header">
                                                  <span> TRIER PAR </span>
                                              </section>
                                              <section id="flat-sorting-input" class="content flat-inputs">
                                                  <span class="input-box">
                                                      <label class="input-container"> Plus bas prix 
                                                            <input type="radio" name="order" value="0"> 
                                                            <span class="radio"></span>
                                                      </label>
                                                      
                                                    </span>
                                                  <span class="input-box">
                                                        <label class="input-container"> Prix le plus élevé 
                                                                <input type="radio" name="order" value="1"> 
                                                                <span class="radio"></span>
                                                          </label>
                                                 </span>
                                                  <span class="input-box">
                                                        <label class="input-container"> Popularité 
                                                                <input type="radio" name="order" value="2"> 
                                                                <span class="radio"></span>
                                                          </label>  
                                                 </span>
                                                  <span class="input-box">
                                                        <label class="input-container"> Plus récent
                                                                <input type="radio" name="order" value="3"> 
                                                                <span class="radio"></span>
                                                        </label>
                                
                                                </span>
                                              </section>
                                              <section class="footer">
                                                      <span id="flat-sort-apply" class="flat-btn"> Appliquer</span>
                                              </section>
                                          </div>
                                  
                                  <section class="flat-row">
                                          
                                          <span class="flat-btn flat-close-main">Fermer</span>
                                  </section>
                              
                          </div>
                            
                        </section>
                </div>
        </div>
        
        <div class="flat-col-xs-12">
                <div class="">
                        <section id="" class="product-list">
                            {% if products %}
                              {% for p  in products %}
                              {% include "tags/product_box_flat.html" %}
                              {% endfor %}
                            {% else %}
                              <p class="text-center">
                                Il n'y a pas de produits disponible
                                dans cette catégorie 
                              </p>
                            {% endif %}
                        </section>
                
                        <section class="footer">
                            <ul class="pager">
                                {% if products.has_previous %}
                                  <li><a href="?page={{ products.previous_page_number }}">precedent</a></li>
                                {% endif %}
                                <span class="current">
                                  Page {{products.number }} de {{products.paginator.num_pages}}.
                                </span>
                                {% if products.has_next %}
                                  <li><a href="?page={{ products.next_page_number }}">next</a></li>
                                {% endif %}
                            </ul>
                        </section>
                    </div>
        </div>

    </div>
    <div class="">
        <section class="">
             <span>Vue recemment <span class="fa fa-history"></span></span> 
        </section>
    </div>
</div>
{% endblock MAINCONTENT %}
