{% extends "base_flat.html" %}
{% load category_tags %}


{%block MAINCONTENT %}
<div class="flat-main">
    <div class="flat-card flex-column filter  bordered">
      <section class="header flat-filter-btn flat-clickable">
          <span> FILTRE </span> <span class="glyphicon glyphicon-plus"></span>
      </section>
      <section class="flat-dropdown-wrapper flat-main-content">
            
        <div class="flat-card flex-column">
                <section class="header">
                        <span> OPTIONS </span>
                </section>
                <section class="flat-wrapper bordered">
                        <div class="flat-overflow flat-card flex-column space bordered">
                                <section class="header">
                                        <span > MARQUES </span>
                                </section>
                                <section class="flat-inputs flat-overflow">
                                        <input id="brands-filter-input" type="text" name="brands-query" placeholder="Saissez votre marque ...">
                                        <div id="flat-brands" class="flat-inputs flat-overflow">
                                            {% for brand in brands %}
                                            <span data-brand="{{brand}}"><input type="checkbox" name="mark-choices" value="{{brand}}"> {{brand}} </span>
                                            {% endfor %}
                                        </div>
                                </section>
                                
                        </div>
                        <div class="flat-order-filter flat-fluid space bordered">
                            <span> TRIER PAR </span>
                            <div class="flat-inputs">
                                <span><input type="radio" name="order" value="0"> Plus bas prix </span>
                                <span><input type="radio" name="order" value="1"> Prix le plus élevé <br></span>
                                <span><input type="radio" name="order" value="2"> Popularité</span>
                                <span><input type="radio" name="order" value="2"> Plus récent</span>
                            </div>
                        </div>
                </section>
                <section class="footer">
                        <span class="flat-btn flat-filter-apply">Utiliser</span>
                        <span class="flat-btn flat-close-main">Fermer</span>
                </section>
            
        </div>
          
      </section>
    </div>
    <div class="flat-card flex-column  bordered">
        <section class="header flat-cat-btn flat-clickable">
          <span> Catégorie </span> <span class="glyphicon glyphicon-plus"></span>
        </section>
        <section class="flat-dropdown-wrapper flat-main-content">
            <div class="flat-card flex-column">
                <section class="main">
                        {% include "tags/category_box.html" %}
                </section>
                <section class="footer">
                        <span class="flat-btn flat-close-main">Fermer</span>
                </section>
                
            </div>
            
        </section>
    </div>

    <div class="flat-card flex-column">
        <section class="main flat-flex flex-row">
            {% if products %}
              {% for p  in products %}
              {% include "tags/product_box_flat.html" %}
              {% endfor %}
            {% else %}
              <p class="text-center">
                Il n'y a pas de produits disponible
                dans cette catégorie 
              </p>
            {% endif %}
        </section>

        <section class="footer">
            <ul class="pager">
                {% if products.has_previous %}
                  <li><a href="?page={{ products.previous_page_number }}">precedent</a></li>
                {% endif %}
                <span class="current">
                  Page {{products.number }} de {{products.paginator.num_pages}}.
                </span>
                {% if products.has_next %}
                  <li><a href="?page={{ products.next_page_number }}">next</a></li>
                {% endif %}
            </ul>
        </section>
    </div>
    <div class="flat-card flex-column">
        <section class="header">
             <span>Vue recemment <span class="fa fa-history"></span></span> 
        </section>
    </div>
</div>
{% endblock MAINCONTENT %}
