{% extends "base.html" %}
    

    {% block PageContent %}
            <div class="card-container row">
                <div class="side-menu bg-crimson">
                    <p> Side Menu </p>

                </div>
                <div class=" card-flat float-left">
                    <div class="card-flat-header">
                        <div class="">
                            <p class="text-center"> Card Header </p>
                        </div>
                    </div>
                    <div class="card-flat-body">
                        <div class="container-fluid">
                            <p class="text-center"> Card Body </p>
                        </div>
                    </div>
                    <div class="card-flat-footer">
                        <div class="container-fluid">
                            <p class="text-center"> Card Footer </p>
                        </div>
                    </div>
                </div>
                <div class="card-flat float-left">
                    <div class="card-flat-header">
                        <div class="">
                            <p class="text-center"> Card Header </p>
                        </div>
                    </div>
                    <div class="card-flat-body">
                        <div class="container-fluid">
                            <p class="text-center"> Card Body </p>
                        </div>
                    </div>
                    <div class="card-flat-footer">
                        <div class="container-fluid">
                            <p class="text-center"> Card Footer </p>
                        </div>
                    </div>
                    
                </div>
                <div class="card-flat float-left">
                    <div class="card-flat-header">
                        <div class="">
                            <p class="text-center"> Card Header </p>
                        </div>
                    </div>
                    <div class="card-flat-body">
                        <div class="container-fluid">
                            <p class="text-center"> Card Body </p>
                        </div>
                    </div>
                    <div class="card-flat-footer">
                        <div class="container-fluid">
                            <p class="text-center"> Card Footer </p>
                        </div>
                    </div>
                </div>

            </div>
            
    {% endblock PageContent %}

