{% extends "base.html" %}
{% load category_tags %}
    {% block banner_content %}
        <div class="container card-flat">
            {% banners as banner %}
            {% include "tags/banner.html" %}
            
        </div>
    {% endblock banner_content %}

    {% block PageContent %}
 
        {% get_default_products as products %}

            <div class="card-fluid" >
                <div class="row centered">
                    {% for p  in products %}
                    {% include "tags/product_box_min.html" %}
                    {% endfor %}
                </div>
            </div>

    {% endblock PageContent %}

