{% extends "base.html" %}
{% load category_tags %}
    {% block banner_content %}
        <div class="container">
            {% banners as banner %}
            {% include "tags/banner.html" %}
            
        </div>
    {% endblock banner_content %}

    {% block PageContent %}
 
        {% get_default_products as products %}

            <div class="container" >
                <ul id="product-list" class="row centered sortable">
                    {% for p  in products %}
                    <li class="list-entry" data-brand="{{p.brand}}" data-price="{{p.price}}">
                        {% include "tags/product_box_min.html" %}
                    </li>
                    {% endfor %}
                </ul>
            </div>

    {% endblock PageContent %}

