{% extends "flat_minimal_base.html" %}

{% block MAINCONTENT %}

<div id="product-page">
    <div class="flat-col-xs-12 flat-col-md-6">
            <div class="image-container">
                    <img class="img-responsive" src="{{product.image.url}}" alt="{{product.name}}" />
            </div>
    </div>
    <div class="flat-col-xs-12 flat-col-md-6">
            <div class="product-infos">
                    <section class="header">
                        <span class="flat-product-name">{{product.name}} </span>
                        <span class="flat-product-brand">{{product.brand}}</span>
                        <span class="flat-product-price"> <strong>{{product.price}} FCFA</strong></span>
                    </section>
                    <section class="content">
                        <div class="description">
                                <p>{{product.description}}</p>
                        </div>
                        <div class="features">
                                {% if product.template_name is not None%}
                                {% include product.template_name %}
                                {%endif%}
                        </div>
                    </section>
                    <section class="footer " data-itemid="{{product.id}}" data-name="{{product.name}}">
                        <span id="js-add-to-cart" class="flat-btn flat-cart-add-btn" data-itemid="{{product.id}}" data-available="{{product.is_available}}"><span class="glyphicon glyphicon-shopping-cart"> Ajouter </span></span>
                        <span id="js-add-to-wishlist" class="flat-link flat-btn" data-itemid="{{product.id}}"><span class="glyphicon glyphicon-heart-empty"></span> Ajouter aux Favoris </span>
                        <section id="error" class="flat-container">
                                <span class="flat-error-msg bordered">
                
                                </span>
                            </section>
                    </section>
                    
            </div>
        
        </div>
    
    
</div>

{% endblock MAINCONTENT%}