{% extends "base.html" %}

{%block banner_extra%}
<div class="card-flat-category">
  <ul class="breadcrumb">
        {% for c in product.cats_path %}
        <li><a href="{{c.get_absolute_url}}">{{c.name}}</a></li>
        {% endfor %}
  </ul>
</div>
{%endblock banner_extra%}

{%block content_header%}
    <div class="col-md-12 col-sm-12 col-xs-12 header-entry bg-ebony">
        <p> <h1> {{product.name}} 
        {%if product.is_available is False%}
          <span class="not-in-stock"> Epuisé ! </span>
        {%endif%}
      </h1> </p>
    </div>
{%endblock content_header%}


{% block PageContent %}
<div class="card-flat-product bg-newspaper row">
  <nav class=" navbar-text card-thumbnails hidden-xs col-md-1">
    <p> Thumbnails </p>
  </nav>
  <div class="card-product-image col-md-6">
    <img class="img-responsive center-block" src="{{product.image.url}}"  alt="{{product.name}}" />
  </div>
  <div class="col-md-5 card-product-details">
       <p>Marque: <strong><em>{{product.brand}}</em> </strong></p>
      
      {% if product.size is not None %}
        <p>Taille: {{product.size}}</p>
      {%endif%}
      {% if product.template_name is not None%}
      {% include product.template_name %}
      {%endif%}
        {% if product.old_price is True %}
        <p class="invalid">Coûtait : {{product.old_price}} CFA </p> <br />
        {% endif %}
        <p>Prix : <strong>{{product.price}} CFA </strong></p>
        <p>
          <span class="add-to-cart btn glyphicon glyphicon-shopping-cart bg-niagara" data-available="{{product.is_available}}" data-itemid="{{product.id}}" title="Ajouter dans le Panier"></span>
        </p>

        <h3> Description du produit </h3>
        <p>{{product.description}}</p>
  </div>

</div>
{{product.content}}
{% endblock PageContent%}
