{% extends "base_flat.html" %}
{% block MAINCONTENT %}

<div class="flat-product-detail bordered">
    <div class="flat-image-container bordered">
            <img class="img-responsive" src="{{product.image.url}}" alt="{{product.name}}" />
    </div>
    <div class="flat-product-infos bordered">
            <section class="flat-header bordered">
                <span class="flat-product-name">{{product.name}} </span>
                <span class="flat-product-brand">{{product.brand}}</span>
                <span class="flat-product-price"> {{product.price}} FCFA</span>
            </section>
            <section class="flat-main">
                <div class="flat-product-description bordered">
                        <p>{{product.description}}</p>
                </div>
                <div class="flat-product-features bordered">
                        {% if product.template_name is not None%}
                        {% include product.template_name %}
                        {%endif%}
                </div>
            </section>
            <section class="flat-product-footer flat-fluid bordered" data-itemid="{{product.id}}" data-name="{{product.name}}">
                <span id="flat-add-to-cart-btn" class="flat-add-btn flat-btn" data-itemid="{{product.id}}" data-available="{{product.is_available}}"><span class="glyphicon glyphicon-shopping-cart"></span> Ajouter dans le panier </span>
                <span id="flat-add-to-wishlist-btn" class="flat-add-btn flat-btn" data-itemid="{{product.id}}"><span class="glyphicon glyphicon-heart"></span> Marquer </span>
            </section>
            <section id="flat-add-error" class="flat-flex flex-column">
                <span class="flat-error-msg bordered">

                </span>
            </section>
    </div>

</div>

{% endblock MAINCONTENT%}