<div id="banner" class="carousel slide" data-ride="carousel">
    <!-- indicators -->
    <ol class="carousel-indicators">
        <li data-target="#banner" data-slide-to="0" class="active"></li>
        <li data-target="#banner" data-slide-to="1" ></li>
        <li data-target="#banner" data-slide-to="2" ></li>
        <li data-target="#banner" data-slide-to="3" ></li>
        <li data-target="#banner" data-slide-to="4" ></li>
    </ol>
    <!-- wrapper for slides -->
    <div class="carousel-inner" role="listbox">
        {% for p in banner %}
            {% if forloop.first%}
                <div class="item active">
            {% else %}
                <div class="item">
            {%endif%}
                <img src="{{p.image.url}}" alt="{{p.name}}" style="width:40%;margin:auto;">
                </div>
        {% endfor %}
    </div> <!-- End of Wrapper -->

    <!-- Left and Right controls -->
    <a class="left carousel-control" href="#banner" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
        <span class="sr-only">Precedent</span>
    </a>
    <a class="right carousel-control" href="#banner" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
        <span class="sr-only">Suivant</span>
    </a>
</div> <!-- End of Banner -->