{% load cart_tags %}

{% cart_box request as cart_count %}

<a class="link-icon dropdown-toggle" href="{% url 'cart:show_cart' %}">
    <span class="cart-button dropdown-toggle glyphicon glyphicon-shopping-cart" data-toggle="dropdown">
    </span>
    {% if cart_count.count > 0 %}
    <span class="cart-badge"> 
        ({{ cart_count.count }})
    </span>
    {%endif%}
</a>
<div id="cart-menu" class="dropdown-menu" role="menu" >
        <div class="card">
                <ul class="cart-menu-items">
                    {% for cartItem in cart_box.cartItems %}
                      <li class="cart-menu-entry" data-itemid={{cartItem.product.id}}>
                          <img class="img-responsive" src="{{cartItem.image.url}}" alt="">
                          <p>{{cartItem.name}}</p>
                          <p>{{cartItem.price}} FCFA</p>
                      </li>
          
                    {% endfor %}
                </ul>

            <div class="modal-footer">
                <a class="btn btn-default" href="{% url 'cart:show_cart' %}"> Aller dans le panier </a>
                <button type="button" class=" btn btn-default" data-dismiss="modal">Fermer</button>
            </div>
        </div>
</div>
