<div class="flat-product flex-column bordered" data-brand="{{p.brand}}" data-price="{{p.price}}" data-viewcount="{{p.view_count}}">
        <div class="flat-product-wrapper">
                <a class="flat-product-link" href="{{p.get_absolute_url}}">
                </a>
                <div class="flat-product-image"> 
                        <img class="img-responsive" src="{{p.image.url}}">
                        {% if p.is_recent is True %}
                                <span class="flat-product-label">Nouveau</span>
                        
                        {% endif %}
                        
                </div>
        </div>
        
        <div class="flat-product-footer  flex-column">
                <span class="flat-entry">{{p.name}}</span>
                <!--<div class="mat-entry">Quantité : {{item.quantity}}</div> -->
                <span class="flat-entry"> <span class="order-ref"> {{p.price}} FCFA  </span></span>
        </div>
        <div class="flat-product-options flat-flex flex-row">
                <span class="glyphicon glyphicon-heart"></span>
        </div>
</div>