<div class="col-xs-6 col-sm-6 col-md-4 card " >
    <div class="col-md-12 col-xs-12"> <!-- Inner Col -->
        <div class="row">
            <div class="col-md-12"> <!-- Image -->
              <div class="img-responsive">
                <a href="{{p.get_absolute_url}}">
                  <img src="{{p.image.url}}" class="img-responsive" style="width:100%">
                </a>
              </div>
            </div> <!-- End of Image -->
        </div><!-- End of row element -->

        <div class="row">
          <div class="col-md-12 grey lighten-4 text-center">
              <div class="product-title-container row">
                <h5 class="product-title" style="word-wrap: break-word;"> <p> <strong> {{p.name}} </strong></p> </h5> 
              </div>
              <div class="product-detail row">
                <div class="col-md-6"><!-- Price infos -->
                  <p class="text">Prix : {{p.price}} FCFA  </p>
                </div><!-- End of Price detail -->
                <div class="col-md-6"><!--Product Controls -->
                    <div class="add-to-cart-btn row">

                          <div class="col-md-10">
                          </div>
                          <div class="col-md-1">
                            <a href="{% url 'wishlist:add_to_wishlist' p.id  %}">
                                <span class="glyphicon glyphicon-heart-empty"></span>
                            </a>
                          </div>
                          <div class="col-md-1">
                            <span class="add-to-cart glyphicon glyphicon-shopping-cart btn-default" data-itemid="{{p.id}}" title="Ajouter dans le Panier"></span>
                          </div>
                    </div><!-- End of Add To Cart Btn -->

                </div><!-- End of Product Controls -->
              </div>
                
                <div class="push">
                </div> 
          </div>
        </div> <!-- End of Row element -->
        </div>
    </div> <!-- End inner col -->
</div> <!-- End of colomns -->